<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="form-group" th:fragment="numericInput (id, label, fieldName, fieldValue)">
              <label th:for="${id}"><span class="mobile-only-label" th:utext="${label}"></span>
                 <input type="number" placeholder="0" class="form-control" th:id="${id}" onkeypress='return validate(event)' th:name="${fieldName}" th:value="${fieldValue}" />
                   <span><font color="red" th:if="${#fields.hasErrors('__${fieldName}__')}" th:each="error : ${#fields.errors('__${fieldName}__')}" th:text="${error}">Balance sheet error</font></span>
               </label> 
	</div>
</html>