<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="baseLayout"> 

<head>
<title>File abridged accounts</title>
</head>
<body>
<div layout:fragment="content">
<form th:action="@{/employees-note}" th:object="${employeesNote}" method="post" class="form" id="employees-note">
<div class="text">
<h1 class="heading-xlarge">Employees note</h1>

  <div class="grid-row" id="accounts-header">
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2015 to 2016</h2>
    </div>
   <div class="column-quarter">
      <h2 class="heading-small">2014 to 2015</h2>
    </div>
  </div>

  <!-- Start average number of employees -->
  <div class="grid-row accounts-row-spacer">
    <div class="column-half">
        <details>
          <summary><span class="summary">Average number of employees</span></summary>
          <div class="panel panel-border-narrow">
            <p>Enter the average number of people employed by the company in the period you're filing for.</p>
          </div>
        </details>
    </div>

    <div class="column-quarter">
      <div class="form-group">
        <label for="employees-current"><span class="visuallyhidden">Average number of employees (current year)</span>
          <input type="number" class="form-control" id="employees-current" onkeypress='return validateEmployee(event)' th:field="*{employeesCurrent}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="employees-previous"><span class="visuallyhidden">Average number of employees (previous year)</span>
          <input type="number" class="form-control" id="employees-previous" onkeypress='return validateEmployee(event)' th:field="*{employeesPrevious}" />
        </label>
      </div>
    </div>

  </div>
  <!-- End average number of employees -->


    <details class="accounts-row-spacer text">
      <summary><span class="summary" id="additional-info-link">Add additional information? (optional) </span></summary>
      <div class="panel panel-border-narrow">
        <label class="visuallyhidden" for="textarea">Additional information (optional)</label>
        <textarea type="text" id="additional-info-text" class="form-control" onkeypress='return validateTextBox(event)' rows="10" th:field="*{additionalInfo}"></textarea>
      </div>
    </details>

    <div class="form-group">
			<input id="save-continue" class="button" type="submit"
				value="Save and continue" />
		</div>
      </div>

</form>

</div>
<div layout:fragment="page-scripts">
<script th:src="@{employeesNote.js}" type="text/javascript"></script>
</div>

</body>
</html>