<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="baseLayout"> 

<head>
<title>Balance Sheet</title>
</head>
<body>
<div layout:fragment="content">

<h1 class="heading-xlarge">Balance sheet</h1>

  <div class="grid-row" id="accounts-header">
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2015 to 2016</h2>
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2014 to 2015</h2>
    </div>
  </div>



<form action="/balanceSheet" th:action="@{/balanceSheet}"  th:object="${balanceSheet}" method="post" class="form" id="balance-sheet">

<h2 class="heading-medium">Fixed assets</h2>



  <div class="grid-row">
    <div class="column-half">
<details open="open" role="group">
         <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Intangible assets</span></summary>
         <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
           <p>The value of the company's non-physical assets - for example, patents, trademarks, licences, goodwill (taking account of depreciation).</p>
         </div>
       </details>
    </div>

    <div class="column-quarter">
      <div class="form-group">
        <label for="intangible-assets-current"><span class="mobile-only-label">Intangible assets (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="intangible-assets-current" th:field="*{currentIntangibleAssets}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="intangible-assets-previous"><span class="mobile-only-label">Intangible assets (2015)</span>
           <input type="number" onkeypress='validate(event)'  class="form-control" id="intangible-assets-previous" th:field="*{previousIntangibleAssets}" />
        </label>
      </div>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-half">
		<details role="group">
         <summary role="button" aria-controls="details-content-1" aria-expanded="true"><span class="summary">Tangible assets</span></summary>
         <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="false">
           <p>The value of the company's physical assets used in the business - for example, machinery, fixtures and fittings, office equipment, vehicles, buildings, land (taking account of depreciation).</p>
         </div>
       </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="tangible-assets-current"><span class="mobile-only-label">Tangible assets (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="tangible-assets-current" th:field="*{currentTangibleAssets}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="tangible-assets-previous"><span class="mobile-only-label">Tangible assets (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="tangible-assets-previous" th:field="*{previousTangibleAssets}" />
        </label>
      </div>
    </div>
  </div>
  <!--End tangible assets-->

  <!--Start investments (fixed assets) -->
  <div class="grid-row">
    <div class="column-half">
		<details role="group">
        	 <summary role="button" aria-controls="details-content-2" aria-expanded="true"><span class="summary">Investments</span> <span class="mobile-only-label">(fixed assets)</span></summary>
         	<div class="panel panel-border-narrow" id="details-content-2" aria-hidden="false">
           		<p>Fixed asset investments are those intended to be held for the medium to long term in order to, for example, generate income - so these would not include investments such as shares in public companies held for resale.</p>
         	</div>
       </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="investments-fixed-assets-current"><span class="mobile-only-label">Investments (fixed assets) (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="investments-fixed-assets-current" th:field="*{currentFixedInvestments}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="investments-fixed-assets-previous"><span class="mobile-only-label">Investments (fixed assets) (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="investments-fixed-assets-previous" th:field="*{previousFixedInvestments}" />
        </label>
      </div>
    </div>
  </div>
  <!--End investments (fixed assets)-->

  <!--Start total fixed assets-->
  <div class="grid-row accounts-total">
    <div class="column-half">
	<details role="group">
       <summary role="button" aria-controls="details-content-3" aria-expanded="true"><span class="summary">Total fixed assets</span></summary>
       <div class="panel panel-border-narrow" id="details-content-3" aria-hidden="false">
         <p><strong>Calculation:</strong> 'Intangible assets' plus 'tangible assets' plus 'Investments'.</p>
       </div>
     </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label-bold" for="total-fixed-assets-current"><span class="mobile-only-label">Total fixed assets (2016)</span>
           <input type="number" class="form-control" id="total-fixed-assets-current" readonly="readonly" value="0" th:field="*{currentTotalFixedAssets}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label-bold" for="total-fixed-assets-previous"><span class="mobile-only-label">Total fixed assets (2015)</span>
           <input type="number" class="form-control" id="total-fixed-assets-previous" readonly="readonly" value="0" th:field="*{previousTotalFixedAssets}" />
        </label>
      </div>
    </div>

  </div>
  <!--End total fixed assets-->
  
  <!-- Beginning of CURRENT ASSETS -->
  <h2 class="heading-medium">Current assets</h2>
  
  <!-- Stocks -->
  <div class="grid-row">
     <div class="column-half">
         <details role="group">
           <summary role="button" aria-controls="details-content-4" aria-expanded="true"><span class="summary">Stocks</span></summary>
           <div class="panel panel-border-narrow" id="details-content-4" aria-hidden="false">
             <p>Sometimes knows as 'inventories' - the value of goods or services bought or made, but not yet sold. For example, raw materials, balance of long-term contracts.</p>
           </div>
         </details>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label for="stocks-current"><span class="mobile-only-label">Stocks (2016)</span>
           <input type="number" class="form-control" id="stocks-current" onkeypress='validate(event)' th:field="*{currentStocks}" />
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label for="stocks-current"><span class="mobile-only-label">Stocks (2015)</span>
           <input type="number" class="form-control" id="stocks-previous" onkeypress='validate(event)' th:field="*{previousStocks}" />
         </label>
       </div>
     </div>

   </div>
   
   <!-- Debtors -->
   <div class="grid-row">
     <div class="column-half">
         <details role="group">
           <summary role="button" aria-controls="details-content-5" aria-expanded="true"><span class="summary">Debtors</span></summary>
           <div class="panel panel-border-narrow" id="details-content-5" aria-hidden="false">
             <p>Amount owed to the company - for example, debts, payments or income owed but not yet received.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="debtors-current"><span class="mobile-only-label">Debtors (2016)</span>
           <input type="number" class="form-control" id="debtors-current" onkeypress='validate(event)' th:field="*{currentDebtors}"  />
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="debtors-previous"><span class="mobile-only-label">Debtors (2015)</span>
           <input type="number" class="form-control" id="debtors-previous" onkeypress='validate(event)' th:field="*{previousDebtors}" />
         </label>
       </div>
     </div>
   </div>
   
   <!-- Cash at bank and in hand -->
   <div class="grid-row">
     <div class="column-half">
         <details role="group">
           <summary role="button" aria-controls="details-content-6" aria-expanded="true"><span class="summary">Cash at bank and in hand</span></summary>
           <div class="panel panel-border-narrow" id="details-content-6" aria-hidden="false">
             <p>Total cash available on demand, either in the bank or in petty cash.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="cash-at-bank-and-in-hand-current"><span class="mobile-only-label">Cash at bank and in hand (2016)</span>
           <input type="number" class="form-control" id="cash-at-bank-and-in-hand-current" onkeypress='validate(event)' th:field="*{currentCABAIH}" />
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="cash-at-bank-and-in-hand-previous"><span class="mobile-only-label">Cash at bank and in hand (2015)</span>
           <input type="number" class="form-control" id="cash-at-bank-and-in-hand-previous" onkeypress='validate(event)' th:field="*{previousCABAIH}" />
         </label>
       </div>
     </div>
   </div>
   
   <!-- Investments -->
   <div class="grid-row">
     <div class="column-half">
         <details role="group">
           <summary role="button" aria-controls="details-content-7" aria-expanded="true"><span class="summary">Investments</span> <span class="mobile-only-label">(current assets)</span></summary>
           <div class="panel panel-border-narrow" id="details-content-7" aria-hidden="false">
             <p>Current asset investments are those held with the intention of selling them in the short term, for example shares in quoted companies intended to be traded.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="investments-current-assets-current"><span class="mobile-only-label">Investments (current assets) (2016)</span>
           <input type="number" class="form-control" id="investments-current-assets-current" onkeypress='validate(event)' th:field="*{currentInvestments}" />
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="investments-current-assets-previous"><span class="mobile-only-label">Investments (current assets) (2015)</span>
           <input type="number" class="form-control" id="investments-current-assets-previous" onkeypress='validate(event)'  th:field="*{previousInvestments}" />
         </label>
       </div>
     </div>
   </div>
   
   <!-- Total current assets -->
   <div class="grid-row accounts-total">
     <div class="column-half">
       <details role="group">
         <summary role="button" aria-controls="details-content-8" aria-expanded="true"><span class="summary">Total current assets</span></summary>
         <div class="panel panel-border-narrow" id="details-content-8" aria-hidden="false">
           <p><strong>Calculation:</strong> 'Stocks' plus 'debtors' plus 'cash at bank and in hand' plus 'Investments'. </p>
         </div>
       </details>
           </div>

     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label-bold" for="total-fixed-current-current"><span class="mobile-only-label">Total current assets (2016)</span>
           <input type="number" class="form-control" id="total-current-assets-current" readonly="readonly" th:field="*{currentTotalAssets}" />
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label-bold" for="total-current-assets-previous"><span class="mobile-only-label">Total current assets (2015)</span>
           <input type="number" class="form-control" id="total-current-assets-previous" readonly="readonly" th:field="*{previousTotalAssets}" />
         </label>
       </div>
     </div>
   </div>
   
     <!-- END of CURRENT ASSETS -->
    
     
     <!-- BEGINNING of CAPITAL AND RESERVES -->
     <h2 class="heading-medium">Capital and reserves</h2>
     
     <!-- Called up share capital -->
     <div class="grid-row">
           <div class="column-half">
             <label class="form-label" for="stocks-previous">
               <details role="group">
                 <summary role="button" aria-controls="details-content-15" aria-expanded="true"><span class="summary">Called up share capital</span></summary>
                 <div class="panel panel-border-narrow" id="details-content-15" aria-hidden="false">
                   <p>The total value of all company shares issued at this date. For example, if you issued 100 shares at £1 each at incorporation, and a further 50 shares at £1 each in this period, your called up share capital for the period would be £150.</p>
                 </div>
               </details>
             </label>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="called-up-share-capital-current"><span class="mobile-only-label">Called up share capital (2016)</span>
                 <input type="number" class="form-control" id="called-up-share-capital-current" onkeypress='validate(event)' th:field="*{currentShareCapital}" />
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label for="called-up-share-capital-current"><span class="mobile-only-label">Called up share capital (2015)</span>
                 <input type="number" class="form-control" id="called-up-share-capital-previous" onkeypress='validate(event)' th:field="*{previousShareCapital}" />
               </label>
             </div>
           </div>
         </div>
     
     <!-- Share premium account-->
     <div class="grid-row">
           <div class="column-half">
               <details role="group">
                 <summary role="button" aria-controls="details-content-16" aria-expanded="false"><span class="summary">Share premium account</span></summary>
                 <div class="panel panel-border-narrow" id="details-content-16" aria-hidden="true">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at dolor eu turpis hendrerit vulputate sollicitudin quis dui. In posuere nibh sed eros sollicitudin, in congue ipsum aliquam.</p>
                 </div>
               </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="share-premium-account-current"><span class="mobile-only-label">Share premium account (2016)</span>
                 <input type="number" class="form-control" id="share-premium-account-current" onkeypress='validate(event)' th:field="*{currentSharePremiumAccount}" />
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label" for="share-premium-account-previous"><span class="mobile-only-label">Share premium account (2015)</span>
                 <input type="number" class="form-control" id="share-premium-account-previous" onkeypress='validate(event)' th:field="*{previousSharePremiumAccount}" />
               </label>
             </div>
           </div>
         </div>
     
     <!-- Revaluation reserve -->
     <div class="grid-row">
           <div class="column-half">
               <details role="group">
                 <summary role="button" aria-controls="details-content-17" aria-expanded="false"><span class="summary">Revaluation reserve</span></summary>
                 <div class="panel panel-border-narrow" id="details-content-17" aria-hidden="true">
                   <p>How much assets have changed in value due to being revalued, compared to their previous values on the balance sheet - for example, to reflect market value. </p>
                 </div>
               </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="revaluation-reserve-current"><span class="mobile-only-label">Revaluation reserve (2016)</span>
                 <input type="number" class="form-control" id="revaluation-reserve-current" onkeypress='validate(event)' th:field="*{currentRevaluationReserve}" />
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label" for="revaluation-reserve-previous"><span class="mobile-only-label">Revaluation reserve (2015)</span>
                 <input type="number" class="form-control" id="revaluation-reserve-previous" onkeypress='validate(event)' th:field="*{previousRevaluationReserve}" />
               </label>
             </div>
           </div>
         </div>
     
     <!-- Other reserves -->
     <div class="grid-row">
           <div class="column-half">
               <details role="group">
                 <summary role="button" aria-controls="details-content-18" aria-expanded="false"><span class="summary">Other reserves</span></summary>
                 <div class="panel panel-border-narrow" id="details-content-18" aria-hidden="true">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at dolor eu turpis hendrerit vulputate sollicitudin quis dui. In posuere nibh sed eros sollicitudin, in congue ipsum aliquam.</p>
                 </div>
               </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="other-reserves-current"><span class="mobile-only-label">Other reserves (2016)</span>
                 <input type="number" class="form-control" id="other-reserves-current" onkeypress='validate(event)' th:field="*{currentOtherReserves}" />
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label" for="other-reserves-previous"><span class="mobile-only-label">Other reserves (2015)</span>
                 <input type="number" class="form-control" id="other-reserves-previous" onkeypress='validate(event)' th:field="*{previousOtherReserves}" />
               </label>
             </div>
           </div>
         </div>
     
     <!-- Profit and loss account -->
     <div class="grid-row">
           <div class="column-half">
               <details role="group">
                 <summary role="button" aria-controls="details-content-19" aria-expanded="false"><span class="summary">Profit and loss account</span></summary>
                 <div class="panel panel-border-narrow" id="details-content-19" aria-hidden="true">
                   <p>Also known as 'retained earnings' - running total of profits, retained by the company and not paid out with dividends.</p>
                 </div>
               </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="profit-and-loss-account-current"><span class="mobile-only-label">Profit and loss account (2016)</span>
                 <input type="number" class="form-control" id="profit-and-loss-account-current" onkeypress='validate(event)' th:field="*{currentProfitAndLoss}" />
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label" for="profit-and-loss-account-previous"><span class="mobile-only-label">Profit and loss account (2015)</span>
                 <input type="number" class="form-control" id="profit-and-loss-account-previous" onkeypress='validate(event)' th:field="*{previousProfitAndLoss}" />
               </label>
             </div>
           </div>
         </div>
     
     <!-- Total shareholders' fund -->
     <div class="grid-row accounts-total">
           <div class="column-half">
             <details role="group">
               <summary role="button" aria-controls="details-content-20" aria-expanded="false"><span class="summary">Total shareholders' funds</span></summary>
               <div class="panel panel-border-narrow" id="details-content-20" aria-hidden="true">
                 <p><strong>Calculation:</strong> 'Called up share capital' plus 'revaluation reserve' plus 'profit and loss account'. This must match 'total net assets or liabilities'.</p>
               </div>
             </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label-bold" for="total-shareholders-funds-current"><span class="mobile-only-label"> Total shareholders' funds (2016)</span>
                 <input type="number" class="form-control" id="total-shareholders-funds-current" onkeypress='validate(event)' readonly="readonly" th:field="*{currentTotalShareholdersFunds}" />
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label-bold" for="total-shareholders-funds-previous"><span class="mobile-only-label"> Total shareholders' funds (2015)</span>
                 <input type="number" class="form-control" id="total-shareholders-funds-previous" onkeypress='validate(event)' readonly="readonly" th:field="*{previousTotalShareholdersFunds}" />
               </label>
             </div>
           </div>
         </div>
     
     <!-- END of CAPITAL AND RESERVES -->
  

      <div class="form-group">
        <input type="submit" class="button" value="Continue to Balance sheet statements" />
      </div>
</form>
<!--  href="cato-style-balance-sheet-statements" -->


</div>
<div layout:fragment="page-scripts">
<script th:src="@{balance-sheet.js}"></script>
</div>

</body>
</html>
