<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="baseLayout"> 

<head>
<title>Balance Sheet</title>
</head>
<body>
<div layout:fragment="content">

<h1 class="heading-xlarge">Balance sheet</h1>

  <div class="grid-row" id="accounts-header">
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2015 to 2016</h2>
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2014 to 2015</h2>
    </div>
  </div>



<form action="/balanceSheet" th:action="@{/balanceSheet}"  th:object="${balanceSheet}" method="post" class="form" id="balance-sheet">

<h2 class="heading-medium">Fixed assets</h2>



  <div class="grid-row">
    <div class="column-half">
<details open="open" role="group">
         <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Intangible assets</span></summary>
         <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
           <p>The value of the company's non-physical assets - for example, patents, trademarks, licences, goodwill (taking account of depreciation).</p>
         </div>
       </details>
    </div>

    <div class="column-quarter">
      <div class="form-group">
        <label for="intangible-assets-current"><span class="mobile-only-label">Intangible assets (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="intangible-assets-current" th:field="*{currentIntangibleAssets}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="intangible-assets-previous"><span class="mobile-only-label">Intangible assets (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="intangible-assets-previous" th:field="*{previousIntangibleAssets}" />
        </label>
      </div>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-half">
		<details role="group">
         <summary role="button" aria-controls="details-content-1" aria-expanded="true"><span class="summary">Tangible assets</span></summary>
         <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="false">
           <p>The value of the company's physical assets used in the business - for example, machinery, fixtures and fittings, office equipment, vehicles, buildings, land (taking account of depreciation).</p>
         </div>
       </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="tangible-assets-current"><span class="mobile-only-label">Tangible assets (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="tangible-assets-current" th:field="*{currentTangibleAssets}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="tangible-assets-previous"><span class="mobile-only-label">Tangible assets (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="tangible-assets-previous" th:field="*{previousTangibleAssets}" />
        </label>
      </div>
    </div>
  </div>
  <!--End tangible assets-->

  <!--Start investments (fixed assets) -->
  <div class="grid-row">
    <div class="column-half">
		<details role="group">
        	 <summary role="button" aria-controls="details-content-2" aria-expanded="true"><span class="summary">Investments</span> <span class="mobile-only-label">(fixed assets)</span></summary>
         	<div class="panel panel-border-narrow" id="details-content-2" aria-hidden="false">
           		<p>Fixed asset investments are those intended to be held for the medium to long term in order to, for example, generate income - so these would not include investments such as shares in public companies held for resale.</p>
         	</div>
       </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="investments-fixed-assets-current"><span class="mobile-only-label">Investments (fixed assets) (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="investments-fixed-assets-current" th:field="*{currentInvestments}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="investments-fixed-assets-previous"><span class="mobile-only-label">Investments (fixed assets) (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="investments-fixed-assets-previous" th:field="*{previousInvestments}" />
        </label>
      </div>
    </div>
  </div>
  <!--End investments (fixed assets)-->

  <!--Start total fixed assets-->
  <div class="grid-row accounts-total">
    <div class="column-half">
	<details role="group">
       <summary role="button" aria-controls="details-content-3" aria-expanded="true"><span class="summary">Total fixed assets</span></summary>
       <div class="panel panel-border-narrow" id="details-content-3" aria-hidden="false">
         <p><strong>Calculation:</strong> 'Intangible assets' plus 'tangible assets' plus 'Investments'.</p>
       </div>
     </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label-bold" for="total-fixed-assets-current"><span class="mobile-only-label">Total fixed assets (2016)</span>
           <input type="number" class="form-control" id="total-fixed-assets-current" readonly="readonly" value="0" th:field="*{currentTotalFixedAssets}" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label-bold" for="total-fixed-assets-previous"><span class="mobile-only-label">Total fixed assets (2015)</span>
           <input type="number" class="form-control" id="total-fixed-assets-previous" readonly="readonly" value="0" th:field="*{previousTotalFixedAssets}" />
        </label>
      </div>
    </div>

  </div>
  <!--End total fixed assets-->

      <div class="form-group">
        <input type="submit" class="button" value="Continue to Balance sheet statements" />
      </div>
</form>
<!--  href="cato-style-balance-sheet-statements" -->


</div>
<div layout:fragment="page-scripts">
<script th:src="@{balance-sheet.js}"></script>
</div>

</body>
</html>
