<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="baseLayout"> 

<head>
<title>Balance Sheet</title>
</head>
<body>
<div layout:fragment="content">

<h1 class="heading-xlarge">Balance sheet</h1>

  <div class="grid-row" id="accounts-header">
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">1 April 2015 to<br />31 March 2016</h2>
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">1 April 2014 to<br />31 March 2015</h2>
    </div>
  </div>



<form action="/" method="post" class="form" id="balance-sheet">

<h2 class="heading-medium">Fixed assets</h2>

  <div class="grid-row">
    <div class="column-half">
        <details>
          <summary><span class="summary">Intangible assets</span></summary>
          <div class="panel panel-border-narrow">
            <p>The value of the company's non-physical assets - for example, patents, trademarks, licences, goodwill (taking account of depreciation).</p>
          </div>
        </details>
    </div>

    <div class="column-quarter">
      <div class="form-group">
        <label for="intangible-assets-current"><span class="mobile-only-label">Intangible assets (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="intangible-assets-current" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="intangible-assets-previous"><span class="mobile-only-label">Intangible assets (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="intangible-assets-previous" />
        </label>
      </div>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-half">
        <details>
          <summary><span class="summary">Tangible assets</span></summary>
          <div class="panel panel-border-narrow">
            <p>The value of the company's physical assets used in the business - for example, machinery, fixtures and fittings, office equipment, vehicles, buildings, land (taking account of depreciation).</p>
          </div>
        </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="tangible-assets-current"><span class="mobile-only-label">Tangible assets (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="tangible-assets-current" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="tangible-assets-previous"><span class="mobile-only-label">Tangible assets (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="tangible-assets-previous" />
        </label>
      </div>
    </div>
  </div>
  <!--End tangible assets-->

  <!--Start investments (fixed assets) -->
  <div class="grid-row">
    <div class="column-half">
        <details>
          <summary><span class="summary">Investments</span> <span class="mobile-only-label">(fixed assets)</span></summary>
          <div class="panel panel-border-narrow">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at dolor eu turpis hendrerit vulputate sollicitudin quis dui. In posuere nibh sed eros sollicitudin, in congue ipsum aliquam.</p>
          </div>
        </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="investments-fixed-assets-current"><span class="mobile-only-label">Investments (fixed assets) (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="investments-fixed-assets-current" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="investments-fixed-assets-previous"><span class="mobile-only-label">Investments (fixed assets) (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="investments-fixed-assets-previous" />
        </label>
      </div>
    </div>
  </div>
  <!--End investments (fixed assets)-->

  <!--Start total fixed assets-->
  <div class="grid-row accounts-total">
    <div class="column-half">
      <details>
        <summary><span class="summary">Total fixed assets</span></summary>
        <div class="panel panel-border-narrow">
          <p><strong>Calculation:</strong> 'Intangible assets' plus 'tangible assets' plus 'Investments'.</p>
        </div>
      </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label-bold" for="total-fixed-assets-current"><span class="mobile-only-label">Total fixed assets (2016)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="total-fixed-assets-current" />
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label-bold" for="total-fixed-assets-previous"><span class="mobile-only-label">Total fixed assets (2015)</span>
           <input type="number" onkeypress='validate(event)' class="form-control" id="total-fixed-assets-previous" />
        </label>
      </div>
    </div>

  </div>
  <!--End total fixed assets-->



      <div class="form-group">
        <a class="button" href="cato-style-balance-sheet-statements">Continue to Balance sheet statements</a>
      </div>
</form>
</div>
</body>
</html>