<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="baseLayout"> 

<head>
<title>File abridged accounts</title>
</head>
<body>
<div layout:fragment="content">
<div class="text">
<h1 class="heading-xlarge">File abridged accounts</h1>

        <p class="lede">Use this service to file prepared and approved abridged accounts.</p>

        <p> There are 7 sections to complete:</p>

          <ol class="list example-icon-list">
            <li><span class="circle circle-step">1</span>  Confirm your company account dates 
            <p style="color:grey;">You have the opportunity to change company accounting dates</p></li>
            <li><span class="circle circle-step">2</span>  Balance sheet
            <p style="color:grey;">Some items are optional, complete any that are included in your accounts</p></li>
            <li><span class="circle circle-step">3</span>  Balance sheet statements
            <p style="color:grey;">You’re legally required to include statements describing your accounts</p></li>
            <li><span class="circle circle-step">4</span>  Balance sheet notes
            <p style="color:grey;">You'll need to give us further details on the information you entered on your balance sheet</p></li>
            <li><span class="circle circle-step">5</span>  Review
            <p style="color:grey;">An opportunity to review your accounts, and make amendments</p></li>
            <li><span class="circle circle-step">6</span>  Approval
            <p style="color:grey;">Tell us who approved the accounts, and when they were approved</p></li>
            <li><span class="circle circle-step">7</span>  Submission
            <p style="color:grey;">You can print/save a copy of your accounts here</p></li>
          </ol>

	  <div class="form-group">
        <a th:href="@{/accounts-dates}" class="button button-start" id="start-now">Start now</a>
      </div>

</div>
</div>

</body>
</html>
