<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="baseLayout"> 

<head>
    <title>
   Review your filing
</title>
  </head>
  <body>
 <div layout:fragment="content">
<h1 class="heading-xlarge">Review your abridged accounts</h1>

<form action="/summary" th:action="@{/summary}"  th:object="${summaryPage}" method="post" class="form" id="review-form">

<table class="check-your-answers">
  <caption class="visuallyhidden">Review your abridged accounts</caption>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Balance sheet</h2></th>
      </tr>
    </thead>
    <tbody>
<tr>
        <td>
          <details>
            <summary><span class="summary">Balance sheet figures</span></summary>
            <div class="review-reveal">
            
              <div class="grid-row">
                <div class="column-half">&nbsp;
                </div>
                <div class="column-quarter">
                  <p><strong>2015 to 2016</strong></p>
                </div>
                <div class="column-quarter">
                  <p><strong>2014 to 2015</strong></p>
                </div>
              </div>

              <h3 class="heading-medium" style="margin-top:0.5em;">Fixed assets</h3>
   
            <div class="grid-row" th:if="${balanceSheet.currentIntangibleAssets != null or balanceSheet.previousIntangibleAssets != null}" >
              <div class="column-half">
                <p>Intangible assets</p>
              </div>
              <div class="column-quarter">
                <p><span th:if="${balanceSheet.currentIntangibleAssets} != null"  th:text="'£' + ${balanceSheet.currentIntangibleAssets}">Current Intangible Assets</span></p>
              </div>
              <div class="column-quarter">
                 <p><span th:if="${balanceSheet.previousIntangibleAssets} != null"  th:text="'£' + ${balanceSheet.previousIntangibleAssets}">Previous Intangible Assets</span></p>
              </div>
            </div>
            
            <div class="grid-row" th:if="${balanceSheet.currentTangibleAssets != null or balanceSheet.previousTangibleAssets != null}">
              <div class="column-half">
                <p>Tangible assets</p>
              </div>
              <div class="column-quarter">
                <p><span th:if="${balanceSheet.currentTangibleAssets} != null" th:text="'£' + ${balanceSheet.currentTangibleAssets}">Current Tangible Assets</span></p>
              </div>
              <div class="column-quarter">
                 <p><span th:if="${balanceSheet.previousTangibleAssets} != null" th:text="'£' + ${balanceSheet.previousTangibleAssets}">Previous Tangible Assets</span></p>
              </div>
            </div>
            
            <div class="grid-row" th:if="${balanceSheet.currentFixedInvestments != null or balanceSheet.previousFixedInvestments != null}">
              <div class="column-half">
                <p>Investments</p>
              </div>
              <div class="column-quarter">
                <p><span th:if="${balanceSheet.currentFixedInvestments} != null"  th:text="'£' + ${balanceSheet.currentFixedInvestments}">Current Investments</span></p>
              </div>
              <div class="column-quarter">
                 <p><span th:if="${balanceSheet.previousFixedInvestments} != null"  th:text="'£' + ${balanceSheet.previousFixedInvestments}">Previous Investments</span></p>
              </div>
            </div>
            
            
            <div class="grid-row" th:if="${balanceSheet.currentTotalFixedAssets != null or balanceSheet.previousTotalFixedAssets != null}">
              <div class="column-half">
                <p class=""><strong>Total fixed assets</strong></p>
              </div>
              <div class="column-quarter">
                <p><strong><span th:if="${balanceSheet.currentTotalFixedAssets} != null"  th:text="'£' + ${balanceSheet.currentTotalFixedAssets}">Current Total Fixed Assets</span></strong></p>
              </div>
              <div class="column-quarter">
               <p><strong><span th:if="${balanceSheet.previousTotalFixedAssets} != null"  th:text="'£' + ${balanceSheet.previousTotalFixedAssets}">Previous Total Fixed Assets</span></strong></p>
              </div>
            </div>




        <h3 class="heading-medium" style="margin-top:0.5em;">Current assets</h3>
         
        <div class="grid-row" th:if="${balanceSheet.currentStocks != null or balanceSheet.previousStocks != null}">
          <div class="column-half">
            <p>Stocks</p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.currentStocks} != null"  th:text="'£' + ${balanceSheet.currentStocks}">Current Stocks</span></p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.previousStocks} != null"  th:text="'£' + ${balanceSheet.previousStocks}">Previous Stocks</span></p>
          </div>
        </div>
          
        <div class="grid-row" th:if="${balanceSheet.currentDebtors != null or balanceSheet.previousDebtors != null}">
          <div class="column-half">
            <p>Debtors</p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.currentDebtors} != null"  th:text="'£' + ${balanceSheet.currentDebtors}">Current Debtors</span></p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.previousDebtors} != null"  th:text="'£' + ${balanceSheet.previousDebtors}">Previous Debtors</span></p>
          </div>
        </div>
        
        <div class="grid-row" th:if="${balanceSheet.currentCash != null or balanceSheet.previousCash != null}">
          <div class="column-half">
            <p>Cash at bank and in hand</p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.currentCash} != null"  th:text="'£' + ${balanceSheet.currentCash}">Current Cash</span></p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.previousCash} != null"  th:text="'£' + ${balanceSheet.previousCash}">Previous Cash</span></p>
          </div>
        </div>
        
        <div class="grid-row" th:if="${balanceSheet.currentInvestments != null or balanceSheet.previousInvestments != null}">
          <div class="column-half">
            <p>Investments</p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.currentInvestments} != null"  th:text="'£' + ${balanceSheet.currentInvestments}">Current Investments</span></p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.previousInvestments} != null"  th:text="'£' + ${balanceSheet.previousInvestments}">Previous Investments</span></p>
          </div>
        </div>
        
        <div class="grid-row" th:if="${balanceSheet.currentTotalAssets != null or balanceSheet.previousTotalAssets != null}">
          <div class="column-half">
            <p class=""><strong>Total current assets</strong></p>
          </div>
          <div class="column-quarter">
            <p><strong><span th:if="${balanceSheet.currentTotalAssets} != null"  th:text="'£' + ${balanceSheet.currentTotalAssets}">Current Total Assets</span></strong></p>
          </div>
          <div class="column-quarter">
            <p><strong><span th:if="${balanceSheet.previousTotalAssets} != null"  th:text="'£' + ${balanceSheet.previousTotalAssets}">Previous Total Assets</span></strong></p>
          </div>
        </div>
      
      <!-- Creditors -->
        <div class="grid-row" th:if="${balanceSheet.currentCreditorsOneYear != null or balanceSheet.previousCreditorsOneYear != null}">
          <div class="column-half">
            <p>Creditors - amounts falling due within one year</p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.currentCreditorsOneYear} != null"  th:text="'£' + ${balanceSheet.currentCreditorsOneYear}">Current Creditors One Year</span></p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.previousCreditorsOneYear} != null"  th:text="'£' + ${balanceSheet.previousCreditorsOneYear}">Previous Creditors One Year</span></p>
          </div>
        </div>
        
        <div class="grid-row" th:if="${balanceSheet.currentNetAssets != null or balanceSheet.previousNetAssets != null}">
          <div class="column-half">
            <p><strong>Net current assets (liabilities)</strong></p>
          </div>
          <div class="column-quarter">
            <p><strong><span th:if="${balanceSheet.currentNetAssets} != null"  th:text="'£' + ${balanceSheet.currentNetAssets}">Current Net Assets</span></strong></p>
          </div>
          <div class="column-quarter">
            <p><strong><span th:if="${balanceSheet.previousNetAssets} != null"  th:text="'£' + ${balanceSheet.previousNetAssets}">Previous Net Assets</span></strong></p>
          </div>
        </div>
        <br />
        
        <div class="grid-row" th:if="${balanceSheet.currentTotalAssetsMinusCurrentLiabilities != null or balanceSheet.previousTotalAssetsMinusCurrentLiabilities != null}">
          <div class="column-half">
            <p><strong>Total assets less current liabilities</strong></p>
          </div>
          <div class="column-quarter">
            <p><strong><span th:if="${balanceSheet.currentTotalAssetsMinusCurrentLiabilities} != null"  th:text="'£' + ${balanceSheet.currentTotalAssetsMinusCurrentLiabilities}">Current Total Assets Minus Current Liabilities</span></strong></p>
          </div>
          <div class="column-quarter">
            <p><strong><span th:if="${balanceSheet.previousTotalAssetsMinusCurrentLiabilities} != null"  th:text="'£' + ${balanceSheet.previousTotalAssetsMinusCurrentLiabilities}">Previous Total Assets Minus Current Liabilities</span></strong></p>
          </div>
        </div>
        <br></br>

        <div class="grid-row" th:if="${balanceSheet.currentCreditorsMoreYears != null or balanceSheet.previousCreditorsMoreYears != null}">
          <div class="column-half">
            <p>Creditors - amounts falling due after more than one year</p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.currentCreditorsMoreYears} != null"  th:text="'£' + ${balanceSheet.currentCreditorsMoreYears}">Current Creditors More Years</span></p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.previousCreditorsMoreYears} != null"  th:text="'£' + ${balanceSheet.previousCreditorsMoreYears}">Previous Creditors More Years</span></p>
          </div>
        </div>
        
        <div class="grid-row" th:if="${balanceSheet.currentProvisionLiabilities != null or balanceSheet.previousProvisionLiabilities != null}">
          <div class="column-half">
            <p>Provision for liabilities</p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.currentProvisionLiabilities} != null"  th:text="'£' + ${balanceSheet.currentProvisionLiabilities}">Current Provision Liabilities</span></p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.previousProvisionLiabilities} != null"  th:text="'£' + ${balanceSheet.previousProvisionLiabilities}">Previous Provision Liabilities</span></p>
          </div>
        </div>
        
        <div class="grid-row" th:if="${balanceSheet.currentTotalNetAssetsLiabilities != null or balanceSheet.previousTotalNetAssetsLiabilities != null}">
          <div class="column-half">
            <p><strong>Total net assets (liabilities)</strong></p>
          </div>
          <div class="column-quarter">
            <p><strong><span th:if="${balanceSheet.currentTotalNetAssetsLiabilities} != null"  th:text="'£' + ${balanceSheet.currentTotalNetAssetsLiabilities}">Current Total Net Assets Liabilities</span></strong></p>
          </div>
          <div class="column-quarter">
            <p><strong><span th:if="${balanceSheet.previousTotalNetAssetsLiabilities} != null"  th:text="'£' + ${balanceSheet.previousTotalNetAssetsLiabilities}">Previous Total Net Assets Liabilities</span></strong></p>
          </div>
        </div>


        <h3 class="heading-medium" style="margin-top:0.5em;">Capital and reserves</h3>
        
        <div class="grid-row" th:if="${balanceSheet.currentShareCapital != null or balanceSheet.previousShareCapital != null}">
          <div class="column-half">
            <p>Called up share capital</p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.currentShareCapital} != null"  th:text="'£' + ${balanceSheet.currentShareCapital}">Current Share Capital</span></p>
          </div>
          <div class="column-quarter">
            <p><span th:if="${balanceSheet.previousShareCapital} != null"  th:text="'£' + ${balanceSheet.previousShareCapital}">Previous Share Capital</span></p>
          </div>
        </div>
        
      <div class="grid-row" th:if="${balanceSheet.currentSharePremiumAccount != null or balanceSheet.previousSharePremiumAccount != null}">
        <div class="column-half">
          <p>Share premium account</p>
        </div>
        <div class="column-quarter">
          <p><span th:if="${balanceSheet.currentSharePremiumAccount} != null"  th:text="'£' + ${balanceSheet.currentSharePremiumAccount}">Current Share Premium Account</span></p>
        </div>
        <div class="column-quarter">
          <p><span th:if="${balanceSheet.previousSharePremiumAccount} != null"  th:text="'£' + ${balanceSheet.previousSharePremiumAccount}">Previous Share Premium Account</span></p>
        </div>
      </div>
      
      <div class="grid-row" th:if="${balanceSheet.currentRevaluationReserve != null or balanceSheet.previousRevaluationReserve != null}">
        <div class="column-half">
          <p>Revaluation reserve</p>
        </div>
        <div class="column-quarter">
          <p><span th:if="${balanceSheet.currentRevaluationReserve} != null"  th:text="'£' + ${balanceSheet.currentRevaluationReserve}">Current Revaluation reserve</span></p>
        </div>
        <div class="column-quarter">
          <p><span th:if="${balanceSheet.previousRevaluationReserve} != null"  th:text="'£' + ${balanceSheet.previousRevaluationReserve}">Previous Revaluation reserve</span></p>
        </div>
      </div>
      
      
      <div class="grid-row" th:if="${balanceSheet.currentOtherReserves != null or balanceSheet.previousOtherReserves != null}">
        <div class="column-half">
          <p>Other reserves</p>
        </div>
        <div class="column-quarter">
          <p><span th:if="${balanceSheet.currentOtherReserves} != null"  th:text="'£' + ${balanceSheet.currentOtherReserves}">Current Revaluation reserve</span></p>
        </div>
        <div class="column-quarter">
          <p><span th:if="${balanceSheet.previousOtherReserves} != null"  th:text="'£' + ${balanceSheet.previousOtherReserves}">Previous Revaluation reserve</span></p>
        </div>
      </div>
      
      <div class="grid-row" th:if="${balanceSheet.currentProfitAndLoss != null or balanceSheet.previousProfitAndLoss != null}">
        <div class="column-half">
          <p>Profit and loss account</p>
        </div>
        <div class="column-quarter">
          <p><span th:if="${balanceSheet.currentProfitAndLoss} != null"  th:text="'£' + ${balanceSheet.currentProfitAndLoss}">Current Profit And Loss</span></p>
        </div>
        <div class="column-quarter">
          <p><span th:if="${balanceSheet.previousProfitAndLoss} != null"  th:text="'£' + ${balanceSheet.previousProfitAndLoss}">Previous Profit And Loss</span></p>
        </div>
      </div>
      
      <div class="grid-row" th:if="${balanceSheet.currentTotalShareholdersFunds != null or balanceSheet.previousTotalShareholdersFunds != null}">
        <div class="column-half">
          <p class=""><strong>Total shareholders' funds</strong></p>
        </div>
        <div class="column-quarter">
          <p><strong><span th:if="${balanceSheet.currentTotalShareholdersFunds} != null"  th:text="'£' + ${balanceSheet.currentTotalShareholdersFunds}">Current Total Shareholders Funds</span></strong></p>
        </div>
        <div class="column-quarter">
          <p><strong><span th:if="${balanceSheet.previousTotalShareholdersFunds} != null"  th:text="'£' + ${balanceSheet.previousTotalShareholdersFunds}">Previous Total Shareholders Funds</span></strong></p>
        </div>
      </div>

          </div>
          
          </details>
        </td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Balance sheet statements</span></summary>
            <div class="review-reveal">
            <ul class="list list-bullet">
              <li>For the year ending 31 March 2016 the company was entitled to exemption under section 477 of the Companies Act 2006 relating to small companies.</li>
              <li>The members have not required the company to obtain an audit in accordance with section 476 of the Companies Act 2006.</li>
              <li>The directors acknowledge their responsibilities for complying with the requirements of the Act with respect to accounting records and the preparation of accounts.</li>
              <li>These accounts have been prepared and delivered in accordance with the provisions applicable to companies subject to the small companies regime.</li>
              <li>The members have agreed to the preparation of abridged accounts for this accounting period in accordance with Section 444(2A).</li>
            </ul>
          </div><!--review-reveal-->
          </details>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Balance sheet notes</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Accounting policies note</span></summary>
            <div class="review-reveal">
              <ul class="list list-bullet">
                <li th:text="${accountingPolicies.preparationStatement}" > Text</li>
              </ul>
            </div>
          </details>
        </td>
      </tr>

      <tr th:if="${tangibleAssetsNote != null }">
        <td>
          <details>
            <summary><span class="summary">Tangible assets note</span></summary>
            <div class="review-reveal">
              <h3 class="heading-medium" style="margin-top:0.5em;">Cost</h3>
              
              <div class="grid-row" th:if="${tangibleAssetsNote.costAtStart != null }">
                <div class="column-half">
                  <p>Cost at 1 April 2015</p>
                </div>
                <div class="column-quarter">
                  <p><span th:text="${tangibleAssetsNote.costAtStart}">Cost at 1 April 2015</span></p>
                </div>
              </div>
              
            <div class="grid-row" th:if="${tangibleAssetsNote.additions != null}">
              <div class="column-half">
                <p>Additions</p>
              </div>
              <div class="column-quarter">
                <p><span th:text="${tangibleAssetsNote.additions}">Additions</span></p>
              </div>
            </div>
            
            <div class="grid-row" th:if="${tangibleAssetsNote.disposals != null}">
              <div class="column-half">
                <p class="">Disposals</p>
              </div>
              <div class="column-quarter">
                <p><span th:text="${tangibleAssetsNote.disposals}">Disposals</span></p>
              </div>
            </div>
            
            <div class="grid-row" th:if="${tangibleAssetsNote.revaluations != null}">
              <div class="column-half">
                <p class="">Revaluations</p>
              </div>
              <div class="column-quarter">
                <p><span th:text="${tangibleAssetsNote.revaluations}">Revaluations</span></p>
              </div>
            </div>
            
            <div class="grid-row" th:if="${tangibleAssetsNote.transfers != null}">
              <div class="column-half">
                <p class="">Transfers</p>
              </div>
              <div class="column-quarter">
                <p><span th:text="${tangibleAssetsNote.transfers}">Transfers</span></p>
              </div>
            </div>
            
            <div class="grid-row" th:if="${tangibleAssetsNote.costAtEnd != null}">
              <div class="column-half">
                <p class=""><strong>Cost at 31 March 2016</strong></p>
              </div>
              <div class="column-quarter">
                <p><strong><span th:text="${tangibleAssetsNote.costAtEnd}">Cost at 31 March 2016</span></strong></p>
              </div>
            </div>



              <h3 class="heading-medium" style="margin-top:0.5em;">Depreciation</h3>
              <div class="grid-row" th:if="${tangibleAssetsNote.depreciationAtStart != null}">
                <div class="column-half">
                  <p>Depreciation at 1 April 2015</p>
                </div>
                <div class="column-quarter">
                  <p><span th:text="${tangibleAssetsNote.depreciationAtStart}">Depreciation at 1 April 2015</span></p>
                </div>
              </div>
              
            <div class="grid-row" th:if="${tangibleAssetsNote.chargeForYear != null}">
              <div class="column-half">
                <p>Charge for Year</p>
              </div>
              <div class="column-quarter">
                <p><span th:text="${tangibleAssetsNote.chargeForYear}">Charge for Year</span></p>
              </div>
            </div>
            
            <div class="grid-row" th:if="${tangibleAssetsNote.onDisposals != null}">
              <div class="column-half">
                <p class="">On disposals</p>
              </div>
              <div class="column-quarter">
                <p><span th:text="${tangibleAssetsNote.onDisposals}">On disposals</span></p>
              </div>
            </div>
            
            <div class="grid-row" th:if="${tangibleAssetsNote.otherAdjustments != null}">
              <div class="column-half">
                <p class="">Other adjustments</p>
              </div>
              <div class="column-quarter">
                <p><span th:text="${tangibleAssetsNote.otherAdjustments}">Other adjustments</span></p>
              </div>
            </div>
            <div class="grid-row" th:if="${tangibleAssetsNote.depreciationAtEnd != null}">
              <div class="column-half">
                <p class=""><strong>Depreciation at 31 March 2016</strong></p>
              </div>
              <div class="column-quarter">
                <p><strong><span th:text="${tangibleAssetsNote.depreciationAtEnd}">Depreciation at 31 March 2016</span></strong></p>
              </div>
            </div>


              <h3 class="heading-medium" style="margin-top:0.5em;">Net book value</h3>
              <div class="grid-row" th:if="${tangibleAssetsNote.netBookValueEnd != null}">
                <div class="column-half">
                  <p><strong>Net book value at 31 March 2016</strong></p>
                </div>
                <div class="column-quarter">
                  <p><strong><span th:text="${tangibleAssetsNote.netBookValueEnd}">Net book value at 31 March 2016</span></strong></p>
                </div>
              </div>
              
            <div class="grid-row" th:if="${tangibleAssetsNote.netBookValueStart != null}">
              <div class="column-half">
                <p><strong>Net book value at 31 March 2015</strong></p>
              </div>
              <div class="column-quarter">
               <p><strong><span th:text="${tangibleAssetsNote.netBookValueStart}">Net book value at 31 March 2015</span></strong></p>
              </div>
            </div>
          </div>
          </details>
        </td>
      </tr>

      
    </tbody>
  </table>
  <br />
  <div class="panel panel-border-wide">
  	<p>You can print or save a copy of your draft accounts on the next page.</p>
  </div>
  
 	  <div class="form-group">
        <a th:href="@{/approval}" class="button button-start"  id="start-button">Continue to Approval</a>
      </div>
        
<div layout:fragment="page-scripts"></div>
</form>
  </div>
  </body>
</html>
